/target
**/*.rs.bk
.DS_Store
*.app
.env
/logs
/data
.playwright-mcp/
/.idea
/WordBank
/Phrases/*
!/Phrases/Phrase.db
tree.md
version.txt
cargo-build.ps1
reconfigure.ps1
build-installer.ps1
git-push.ps1
clear-products.ps1
.gitignore